table{
  border-collapse: collapse;

}
th{
text-align:center;
font-weight: normal;
padding:10px;
}
td{
  text-align:center;
    font-weight: normal;
  padding:10px;
}
.th1{
  text-align: center;
  padding: 20px;
  text-align:center;
  width: 130px;
}
.choose-plan{
  background-color: rgb(123, 150, 187); color:whitesmoke
}
.starter{
  background-color: darkcyan; color:whitesmoke
}
.econom{
  background-color: rgb(13, 108, 171); color:whitesmoke
}
.standard{
  background-color: rgb(22, 63, 131); color:whitesmoke
}
.professional{
  background-color: rgb(8, 4, 82); color:whitesmoke
}
.h1-margin{
  margin-bottom:0px;
  font-weight:bold;
}
.p-margin{
  margin-top:0px;
  font-weight:bold;
  font-size:larger;
}
.corners{
  border-top-right-radius:15%;
}
.corners-1{
  border-top-left-radius:15%;
}
.greycol{
  background-color: rgba(156, 150, 150,0.4)
}
.corner-1-1{
  border-bottom-right-radius:15%;
}
.corners-1-1-1{
  border-bottom-left-radius:15%;
}